<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSchedule.Properties.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TSchedule.Properties.Preferences>
            <setting name="UserGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="Role" serializeAs="String">
                <value>Гость</value>
            </setting>
            <setting name="IsLoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="UpdateRate" serializeAs="String">
                <value>00:30:00</value>
            </setting>
        </TSchedule.Properties.Preferences>
    </userSettings>
</configuration>